html{
    border-top: 12px solid #000;
}

body{
    margin: 0 auto;
    max-width: 500px;
    min-height: 100%;
    line-height: 200%;
}

h1{
    margin-top: 80px;
    font-family: 'Permanent Marker', 'cursive';
    font-size: 60px;
    text-align: center;
}

li{
    margin-bottom: 30px;
}

.caption:link {color: black}     /* 未访问的链接 */
.caption:visited {color: black}  /* 已访问的链接 */
.caption:hover {color: black}    /* 鼠标移动到链接上 */
.caption:active {color: black}   /* 选定的链接 */
.caption{
    text-decoration:none;    
    font-size: 65px;
}