link(rel='stylesheet', href='/public/style/blog.css')
link(rel='stylesheet', href='/public/style/highlight.css')
script(src="http://code.jquery.com/jquery-1.11.0.min.js")
script(src="/public/js/ga.js")

script(type='text/javascript').
  function backToHome() { window.location.href = '/'; }

h1
  = blog.title
!= blog.content

a(href='javascript:void(0)' onclick='backToHome()') Back