form(action="/admin/login", method="post")
  input(id="userId", name="userId", type="text")
  input(id="pwd", name="pwd", type="password")
  input(id="submit", value="login", type="submit")

br
a(href=dropboxAuthUri)
  img(src="https://dt8kf6553cww8.cloudfront.net/static/images/brand/logo-colors1-vflhO4gIp.png")
label Login with Dropbox