title Eureka
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Permanent+Marker')
link(rel='stylesheet', href='/public/style/home.css')
script(src="/public/js/ga.js")

a(href='/', class='caption')
  h1(class='caption') Eureka!

- if (blogs && blogs.length)
  ul
    - blogs.forEach(function (item) {
      li
        a(href= item.url)
          = item.title
        p(style='display: inline; margin-left: 30px;')= item.dateStr
    - })

