<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
<style>
html{
    border-top: 12px solid #000;
}

body{
    margin: 0 auto;
    max-width: 500px;
    min-height: 100%;
}

h1{
    margin-top: 80px;
    font-family: 'Permanent Marker', 'cursive';
    font-size: 60px;
}

li{
    margin-bottom: 30px;
}
</style>
    <h1>Narcotics Blog</h1>
    <h2>Blogs</h2>
    <ul>
        <li>2014/1/1 The First Blog of Mine</li>
        <li>2014/2/13 我有一些特别的想法</li>
        <li>2014/2/28 Markdown + Express = 这里</li>
        <li>2014/1/1 The First Blog of Mine</li>
        <li>2014/2/13 我有一些特别的想法</li>
        <li>2014/2/28 Markdown + Express = 这里</li>
        <li>2014/1/1 The First Blog of Mine</li>
        <li>2014/2/13 我有一些特别的想法</li>
        <li>2014/2/28 Markdown + Express = 这里</li>
        <li>2014/1/1 The First Blog of Mine</li>
        <li>2014/2/13 我有一些特别的想法</li>
        <li>2014/2/28 Markdown + Express = 这里</li>
    </ul>
